@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    ViewData["HeaderImage"] = "/images/home-bg.png";
    ViewData["MainText"] = "Code of Billy";
    ViewData["SubText"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
