button.btn-sm, a.btn-sm {
    line-height: 2;
    border-radius: 10px;
}

option {
    font-weight: bolder;
}

.swal2-container.swal2-center > .swal2-popup {
    outline: 4px solid black;
    border: 2px solid #09a0e2;
}